
body{
    background-color: black;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
img{
    position: absolute;
    left: 25%;
    top: 5%;
    width: 50%;
    height: 50%;
}
.message{
    position: relative;
    top: 370px;
    left: 1000px;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif ;
}
.sucessful{
   justify-content: center;
   position: relative;
   left: 40%;
    color: white;
    font-size: xx-large;
}
a :hover{
    color: white;
}
.failed{
    position: relative;
    top: 570px;
    left: 300px;
    color: red;
    padding: 5px;
    width: fit-content;
   
}
.features{
    position: relative;
    top: 600px;
    left: 300px;
    font-size: 20px;
        width: 500px;
        padding: 5px;
        margin-top: 4px;
        margin-bottom: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        width: fit-content;
}

input[type=submit] {
    color: white;
    background-color:#000000;
    padding:5px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    border: solid white 2px;
}
div{
    width: fit-content;
}
