* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.narrative {
  line-height: 1.5;
  hyphens: auto;
  color: white;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

button {
  padding-left: 20px;
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  font-weight: bold;
}

img {
  max-width: 500px;
  text-align: center;
}
/*Animate fadeinUp story first*/
/* Animate fadeinUp buttons after story */
